* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(43, 42, 76);
  }
  
  .parent {
    display: flex;
    justify-content: space-between;
    width: 600px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    margin-top: 50px;
    gap: 200px;
    
  
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 19, 18);
    padding: 20px;
    height: 400px;
    width: 180px;
    border-radius: 25px;
  }
  
  .item-img {
    height: 150px;
    width: 125px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 5px solid rgb(238, 226, 222);
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .button:hover {
    background: linear-gradient(45deg, #2196F3, #4CAF50);
  }

 @media screen and (max-width: 700px ) 
  {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    body {
      background-color: rgb(43, 52, 153);
    }
    
    .parent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 600px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;
      gap: 100px;
      
    
    }
    
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:rgb(255, 108, 34);
      padding: 30px;
      height: 400px;
      width: 300px;
      gap:100px;
      border-radius: 25px;
      
    }
    .item-img {
      height: 150px;
      width: 125px;
      border-radius: 25px;
      margin-bottom: 20px;
      border: 5px solid rgb(255, 146, 9);
    }
    
    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: #fff;
      background: linear-gradient(45deg, #4CAF50, #2196F3);
      transition: background 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .button:hover {
      background: linear-gradient(45deg, #2196F3, #4CAF50);
    }
    
  }  
