* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(43, 42, 76);
  }
  
  .parent {
    display: flex;
    justify-content: space-around;
    margin-top:100px ;
    
  
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 19, 18);
    padding: 30px;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    
  }
  
  .item-img {
    height: 150px;
    width: 125px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 5px solid rgb(238, 226, 222);
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .button:hover {
    background: linear-gradient(45deg, #2196F3, #4CAF50);
  }

  @media screen and (max-width: 430px) {
    body {
      background-color: rgb(43, 52, 153);
    }
  
    .parent {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0; 
      align-items: center;
      width: 100%;
    }
  
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 108, 34);
      padding: 20px;
      height: 600px;
      width: 100%;
      border-radius: 25px;
      box-sizing: border-box;
      margin-bottom: 20px;
        gap: 125px;
    }
  
    .item-img {
      height: 150px;
      width: 125px;
      border-radius: 25px;
      margin-bottom: 20px;
      border: 5px solid rgb(238, 226, 222);
    }
  
    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      color: #fff;
      background: linear-gradient(45deg, #4CAF50, #2196F3);
      transition: background 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
    }
  
    .button:hover {
      background: linear-gradient(45deg, #2196F3, #4CAF50);
    }
  }
  
